{% extends 'layout.twig' %} {% block body %}
<div id="modal">
  <div class="content">
    <a class="close_modal" href="#pricing" onclick="close_modal(this)"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
    <h2 class="text-center">
      Lorem ipsum dolor
    </h2>
    <p>
      The Roosevelt dime is the current ten-cent piece of the United States, displaying President Franklin D. Roosevelt on the
      obverse. Authorized soon after his death in 1945, it has been produced by the Mint continuously since 1946 in large
      numbers.
    </p>
    <div class="table">
      <div class="item">
        <div class="title_block">
          <p>Pay per hour</p>
        </div>
        <ul class="main_text">
          <li>text</li>
          <li>text</li>
        </ul>
        <p>
          The Roosevelt dime is the current ten-cent piece of the United States, displaying President Franklin D. Roosevelt on the
          obverse.
        </p>
        <div class="rate">
          <div class="rate_item">
            <p>
              Different hour rate for different services
            </p>
          </div>
        </div>
        <div class="modal_submit">
          <button>Contact us!</button>
        </div>
      </div>
      <div class="item">
        <div class="title_block">
          <p>Traveller package</p>
        </div>
        <ul class="main_text">
          <li>text</li>
          <li>text</li>
        </ul>
        <p>
          The Roosevelt dime is the current ten-cent piece of the United States, displaying President Franklin D. Roosevelt on the
          obverse.
        </p>
        <div class="rate">
          <div class="rate_item">
            <p>
              up to 4h
            </p>
          </div>
          <div class="rate_item">
            <p>
              up to 8h
            </p>
          </div>
        </div>
        <div class="modal_submit">
          <button>Book now</button>
        </div>
      </div>
      <div class="item">
        <div class="title_block">
          <p>Research package</p>
        </div>
        <ul class="main_text">
          <li>text</li>
          <li>text</li>
        </ul>
        <p>
          The Roosevelt dime is the current ten-cent piece of the United States, displaying President Franklin D. Roosevelt on the
          obverse.
        </p>
        <div class="rate">
          <div class="rate_item">
            <p>
              up to 4h
            </p>
          </div>
          <div class="rate_item">
            <p>
              up to 8h
            </p>
          </div>
        </div>
        <div class="modal_submit">
          <button>Book now</button>
        </div>
      </div>
      <div class="item">
        <div class="title_block">
          <p>Business package</p>
        </div>
        <ul class="main_text">
          <li>text</li>
          <li>text</li>
        </ul>
        <p>
          The Roosevelt dime is the current ten-cent piece of the United States, displaying President Franklin D. Roosevelt on the
          obverse.
        </p>
        <div class="rate">
          <div class="rate_item">
            <p>
              up to 4h
            </p>
          </div>
          <div class="rate_item">
            <p>
              up to 8h
            </p>
          </div>
        </div>
        <div class="modal_submit">
          <button>Book now</button>
        </div>
      </div>
      <div class="item">
        <div class="title_block">
          <p>Individual project</p>
        </div>
        <ul class="main_text">
          <li>text</li>
          <li>text</li>
        </ul>
        <p>
          The Roosevelt dime is the current ten-cent piece of the United States, displaying President Franklin D. Roosevelt on the
          obverse.
        </p>
        <div class="rate">
          <div class="rate_item">
            <p>
              Contact us and we'll discuss your project
            </p>
          </div>
        </div>
        <div class="modal_submit">
          <button>Contact us!</button>
        </div>
      </div>
    </div>
    <h2 class="text-center" style="margin:0">
      How does it work?
    </h2>
    <p style="margin:0">
      <span class="step">Step 1:</span> The Roosevelt dime is the current ten-cent piece of the United States, displaying
      President Franklin D. Roosevelt on the obverse.</br>
      <span class="step">Step 2:</span> The Roosevelt dime is the current ten-cent piece of the United States, displaying
      President Franklin D. Roosevelt on the obverse.
    </p>
    <h4 class="text-center" style="margin:0">
      Still got question?
    </h4>
    <div style="display: flex;">
      <a class="contact-btn" href="#contact" onclick="close_modal(document.querySelector('.close_modal'))">Contact us!</a>
    </div>
  </div>
</div>
<div class="menu-wrap">
  <nav class="menu navbar">
    <div class="icon-list navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#video-area">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#features">How?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#pricing">Packages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#subscribe">Subscribe</a>
        </li>
      </ul>
    </div>
  </nav>
  <button class="close-button" id="close-button"><i class="lnr lnr-cross"></i></button>
</div>
<!-- Header Section Start -->

<header id="video-area" data-stellar-background-ratio="0.5">
  <div id="block" data-vide-bg="video/video"></div>
  <div class="fixed-top">
    <div class="container">
      <div class="logo-menu">
        <a href="index.html" class="logo"><span class="lnr lnr-diamond"></span> UAssist</a>
        <button class="menu-button" id="open-button"><i class="lnr lnr-menu"></i></button>
      </div>
    </div>
  </div>
  <div class="overlay overlay-2"></div>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10">
        <div class="contents text-center">
          <h1 class="wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">UASSIST - your lifestyle and business assistant in Lviv</h1>
          <p class="lead  wow fadeIn" data-wow-duration="1000ms" data-wow-delay="400ms">We are a team with 3 years of experience in providing local concierge services for tourists, researchers and business.</p>
          <a href="#services" class="btn btn-common wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="400ms"><i class="fa fa-hand-o-down"></i> Let's start!</a>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header Section End -->


<!-- Services Section Start -->
<section id="services" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our <span>Services</span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our basic principles are high privacy, individual approach, the highest level of convenience and comfort for the client.
        Uassist provides call-center services 9-20h for saving your time for the most important things.</p>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
          <div class="icon">
            <i class="fa fa-user"></i>
          </div>
          <h4>Be your local assistant </h4>
          <p>Uassist provides call-center services 9-20h for saving your time for the most important things. Be the local secretary</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.4s">
          <div class="icon">
            <i class="fa fa-search-plus"></i>
          </div>
          <h4>Provide a research</h4>
          <p>To be a local fixer. Giving you an access to local databases </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.6s">
          <div class="icon">
            <i class="fa fa-street-view"></i>
          </div>
          <h4>Be the local guide </h4>
          <p>Provide local personal tours. Helping you to see Lviv from the best perspective</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="0.8s">
          <div class="icon">
            <i class="fa fa-handshake-o"></i>
          </div>
          <h4>Connect you to business opportunities </h4>
          <p>Be the local business advisor and partner. Local trust agent. Help with booking meetings and identifying potential
            business partners. Market research on basic economic data, basic feasibility of their products, to know about
            legal assistance they can get.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="1s">
          <div class="icon">
            <i class="fa fa-phone"></i>
          </div>
          <h4>Help you find local contacts </h4>
          <p>Help you find who prominent people in your discipline, influential political decision-makers, other research institutions
            are on location, to arrange meetings with subject-matter-experts who are in town</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="item-boxes wow fadeInDown" data-wow-delay="1.2s">
          <div class="icon">
            <i class="fa fa-briefcase"></i>
          </div>
          <h4>Help to set up a company in Ukraine </h4>
          <p>The issues during registration of a company in Ukraine is the complexity of the procedure, mistakes in processing
            documents, time consuming procedure
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services Section End -->

<!-- Features Section Start -->
<section id="features" class="section" data-stellar-background-ratio="0.2">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our Core <span>Features</span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our team consists of professional, polite and active personal managers who will help to smartly save your time in Lviv,
        top class external experts, who will provide excellent consulting for your business or research and verified locals
        who will be happy to show you Lviv from the best perspective.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-left text-right wow fadeInLeft animated" data-wow-offset="10">
          <div class="box-item left">
            <span class="icon">
                  <i class="fa fa-vcard"></i>
                </span>
            <div class="text">
              <h4>Individual approach</h4>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
            </div>
          </div>
          <div class="box-item left">
            <span class="icon">
                  <i class="fa fa-comments"></i>
                </span>
            <div class="text">
              <h4>Open to feedback</h4>
              <p>We are more than open to any feedback and will be happy to hear any critics in order to make our service even
                better.</p>
            </div>
          </div>
          <div class="box-item left">
            <span class="icon">
                  <i class="fa fa-users"></i>
                </span>
            <div class="text">
              <h4>Strong team</h4>
              <p></p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="show-box wow fadeInDown animated" data-wow-offset="10">
          <img src="img/features/feature.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
        <div class="content-right text-left wow fadeInRight animated" data-wow-offset="10">
          <div class="box-item right">
            <span class="icon">
                  <i class="fa fa-money"></i>
                </span>
            <div class="text">
              <h4>Fair pricing</h4>
              <p>We have got an experienced research team, which is billable per “active hour”. The quantity of orders we take
                is limited to ensure high quality for each client.</p>
            </div>
          </div>
          <div class="box-item right">
            <span class="icon">
                  <i class="fa fa-map-marker"></i>
                </span>
            <div class="text">
              <h4>Unordinary private city tours</h4>
              <p>Every our guide is verified and instructed. We have prepared some surprising tours for our clients and are
                confident that they’ll stay happy after our friendly city guides.</p>
            </div>
          </div>
          <div class="box-item right">
            <span class="icon">
                  <i class="fa fa-phone-square"></i>
                </span>
            <div class="text">
              <h4>Call center</h4>
              <p>We have set up an English speaking call-center where every ready-for-service manager is instructed and answers
                based on the created database, including recommended services and partners with discounts.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features Section End -->

<!-- Start Video promo Section -->
<section class="video-promo section" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="video-promo-content text-center">
          <h2 class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Our Introductory Video</h2>
          <p class="wow zoomIn" data-wow-duration="1000ms" data-wow-delay="100ms">Learn more about us, its only 30mins</p>
          <a href="https://www.youtube.com/watch?v=JNR6gD51CtU" class="video-popup wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s"><i class="lnr lnr-film-play"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Video Promo Section -->

<!-- Start Pricing Table Section -->
<div id="pricing" class="section pricing-section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Our<span>Packages</span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Basic package – for free, included in each package</p>
    </div>

    <div class="row pricing-tables">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-table table-left wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <div class="icon">
            <i class="lnr lnr-heart"></i>
          </div>
          <div class="pricing-details">
            <h2>Traveller package</h2>
            <ul>
              <li>Be your local assistant</li>
              <li>Provide local guidance</li>
              <li>Provide local private tours</li>
              <li>Help you see Lviv from the best perspective</li>
            </ul>
            <ul>
              <SPAN>
                  <li>Interpret/translate</li>
                  <li>Accompany to events</li>
                  <li>Running errands</li>
                  <li>Perform personalized shopping and delivery</li>
                </ul> </span>
          </div>
          <div class="plan-button">
            <a href="#pricing" class="btn btn-common" onclick="open_modal(document.getElementById('modal'))"> Book it now!</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-table wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <div class="icon">
            <i class="lnr lnr-rocket"></i>
          </div>
          <div class="pricing-details">
            <h2>Researcher package</h2>
            <ul>
              <li>Help you find local contacts</li>
              <li>Help you do local research</li>
              <li>Be a local fixer</li>
              <li>Give you an access to local databases</li>
            </ul>
            <ul>
              <SPAN>
                  <li>Info about other research institutions and local leaders </li>
                  <li>Arranging the meetings with the experts</li>
                  <li>Arranging a contact with local embassies, other local foreign organizations</li>
                  <li>Arranging legal consulting</li>
                </ul> </span>
          </div>
          <div class="plan-button">
            <a href="#pricing" class="btn btn-common" onclick="open_modal(document.getElementById('modal'))">Book it now!</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-table table-left wow fadeInRight" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <div class="icon">
            <i class="lnr lnr-briefcase"></i>
          </div>
          <div class="pricing-details">
            <h2>Business package</h2>
            <ul>
              <li>Connect you to business opportunities</li>
              <li>Be the local secretary</li>
              <li>Provide basic business services</li>
              <li>Local trust agent</li>
            </ul>
            <ul>
              <SPAN>
                  <li>Provide business referral service </li>
                  <li>Identifying potential business partners</li>
                  <li>Make telephone calls</li>
                  <li>Legal, Accounting support</li>
                  <li>Assist with banking and money matters</li>           
                  <li>Organize/Assist with events</li>
                  <li>Initial research on basic economic data, basic feasibility of your products</li>
                </ul> </span>
          </div>
          <div class="plan-button">
            <a href="#pricing" class="btn btn-common" onclick="open_modal(document.getElementById('modal'))">Book it now!</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End Pricing Table Section -->


<!-- testimonial Section Start -->
<div id="testimonial" class="section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-10 wow fadeInRight" data-wow-delay="0.2s">
        <div class="touch-slider owl-carousel owl-theme">
          <div class="testimonial-item">
            <img src="img/testimonial/customer1.png" alt="Client Testimonoal" />
            <div class="testimonial-text">
              <p>Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>In hac habitasse platea dictumst.
                Vivamus in accumsan ex</p>
              <h3>Johnathan Doe</h3>
              <span>Marketing Head Matrix media</span>
            </div>
          </div>
          <div class="testimonial-item">
            <img src="img/testimonial/customer2.png" alt="Client Testimonoal" />
            <div class="testimonial-text">
              <p>Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>In hac habitasse platea dictumst.
                Vivamus in accumsan ex</p>
              <h3>Oidila Matik</h3>
              <span>President Lexo Inc</span>
            </div>
          </div>
          <div class="testimonial-item">
            <img src="img/testimonial/customer3.png" alt="Client Testimonoal" />
            <div class="testimonial-text">
              <p>Morbi eget dictum enim. Praesent sed quam sit amet lorem tempor rhoncus. <br>In hac habitasse platea dictumst.
                Vivamus in accumsan ex</p>
              <h3>- Alex Dattilo</h3>
              <span>CEO Optima Inc</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- testimonial Section Start -->
<section id="faq" class="section">
  <div class="container">
    <h2 class="text-center">FAQ</h2>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title" style="color:#5fa7fb" role="button" onclick="toggle(this)" data-toggle="collapse" data-parent="#accordion"
            aria-expanded="false" aria-controls="collapseOne">
            Collapsible Group Item #1
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 style="color:#5fa7fb" class="panel-title collapsed" onclick="toggle(this)" role="button" data-toggle="collapse" data-parent="#accordion"
            aria-expanded="false" aria-controls="collapseTwo">
            Collapsible Group Item #2
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title collapsed" style="color:#5fa7fb" onclick="toggle(this)" role="button" data-toggle="collapse" data-parent="#accordion"
            aria-expanded="false" aria-controls="collapseThree">
            Collapsible Group Item #3
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute,
            non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
            sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
            craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
            occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
            labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Download Section Start -->
<section id="download" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s"><span>Book</span> Our Services</h2>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="download-area text-center wow fadeInUp" data-wow-delay="0.3s">
          <a href="#" class="btn btn-border"><i class="fa fa-check"></i>Book now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Download Section End -->

<!-- Contact Section Start -->
<section id="contact" class="section">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-9 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
        <div class="contact-block">
          <div class="section-header">
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Contact <span>Us</span></h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.3s">
          </div>
          <form id="contactForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" placeholder="Your Email" id="email" class="form-control" name="name" required data-error="Please enter your email">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" placeholder="Subject" id="msg_subject" class="form-control" required data-error="Please enter your subject">
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea class="form-control" placeholder="Your Message" rows="11" data-error="Write your message" required></textarea>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="submit-button text-center">
                  <button class="btn btn-common" id="submit" type="submit">Send Message</button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section End -->

<!-- Subcribe Section Start -->
<div id="subscribe" class="section">
  <div class="container">
    <div class="section-header">
      <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Subscribe <span>Newsletter</span></h2>
      <hr class="lines wow zoomIn" data-wow-delay="0.3s">
      <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.3s">Subscribe to get all latest news from us.</p>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <form class="text-center form-inline wow fadeInUp" data-wow-delay="0.3s">
          <input class="mb-20 form-control" name="email" placeholder="Your Email Address">
          <button class="sub_btn">subscribe</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Subcribe Section End -->

<!-- Footer Section Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="social-icons wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="0.3s">
          <ul>
            <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li class="linkedin"><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li class="dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
          </ul>
        </div>
        <div class="site-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="0.3s">

        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->

<!-- Go To Top Link -->
<a href="#" class="back-to-top">
      <i class="lnr lnr-arrow-up"></i>
    </a>

<div id="loader">
  <div class="spinner">
    <div class="double-bounce1"></div>
    <div class="double-bounce2"></div>
  </div>
</div>

{% endblock %}